.nav-item {
    padding: 0;
    margin-left: 500px;
}

.nav-link {
    color: #fff;
}

.pkbm {
    color: #fff;
}

.fixed-bottom {
    color: #fff;
}

.judul-footer {
    color: #F7DE06;
}

.link #bantuan{
    color: #fff;
}

.form-control {
    width: 250px;
}

.social-links {
    font-size: 18px;
    display: inline-block;
    background: #1E4607;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}