.nav-materi {
    padding: 0;
    margin-left: 500px;
}

.bottom {
    color: #fff;
}


.judul-footer {
    color: #F7DE06;
}

.link {
    color: #fff;
}

.social-links {
    font-size: 18px;
    display: inline-block;
    background-color: #F7DE06;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}